# Ignore configuration files with secret parameters
config.json

# Ignore the data folder and all parquet files
historical data/
*.parquet

# Ignore Python cache and local CSV output
__pycache__/
*.pyc

# Ignore all V1+ Engine Outputs (Summaries & Ledgers)
V*_Apex_*.csv